{% extends 'layout.html' %}

{% block body %}
{% from "includes/_formhelpers.html" import render_field %}

<!-- Spinner when form is submitted -->

<script type="text/javascript">
    window.onsubmit = function spinner() {
        var submit_button = document.getElementById("submit-button")
        var loading_button = document.createElement('div')
        loading_button.className = "d-flex justify-content-center"
        loading_button.innerHTML = '<div class="spinner-border text-danger" role="status"><span class="visually-hidden">Loading...</span></div></div>';
        submit_button.parentNode.replaceChild(loading_button, submit_button);
    }
</script>

<div class="container-sm my-5">
    <div class="row align-self-center">
        <style>
            h1 {
                font-family: 'Allerta Stencil';
                font-size: 250%;
                color: #192a56;
                /* color: #491c2b; */
            }
        </style>
        <h1 class="text-center">{{app_name}}</h1> <br />
    </div>
</div>
<div class="container-lg">
    <form method="POST" id='url-submit-form' action="">
        {{ form.csrf }}
        <div class="row">
            <div class="col-9">
                <div class="form-outline mb-4">
                    <input class="form-control text-center" id="input_url" name="input_url" type="url"
                    placeholder="URL" aria-label="Search">
                </div>
            </div>
            <div class="col-3">
                <div class="form-outline mb-4">
                    <input class="form-control text-center" id="extension" name="extension" type="text"
                        placeholder="extension" aria-label="Search">

                </div>
            </div>
        </div>
        <div class="row mt-3">
            <!-- <div class="d-grid gap-2 col-6 mx-auto justify-content-md-center"> -->
                <div id="submit-button" class="d-grid gap-2">
                    <input class="btn btn-primary" type="submit" value="Submit" />
                </div>
            <!-- </div> -->
        </div>
    </form>    
</div>


<div id="flash"></div>
{% if invalid %}
<p>{{ invalid }}</p>
{% endif %}

<!-- end body block -->
{% endblock %} 